.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.command {
  height: 50%;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .value {
    flex-grow: 1;

    // floating text
    label {
      color: black !important;
    }
  }

  .body {
    flex-grow: 1;
    position: relative;

    .col {
      &.props {
        margin-right: 20px;

        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
      }

      &.options {
        height: 100%;
        position: absolute;
        top: 0;
        left: 70%;
        width: 30%;
      }

      span {
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    .editor {
      margin-bottom: 10px;
      height: calc(100% - 30px) !important;
    }
  }
}

.logs {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  margin: 15px 0;

  .logs_time {
    color: #858585;
  }

  .logInspector {
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;

    > ul {
      padding-inline-start: 0;
      margin: 0;
    }
    > ul > li {
      display: inline-block;
    }
    li {
      vertical-align: top;
      margin-right: 10px;

      &:first-child {
        margin-right: 5px;
      }
    }

    li[role="treeitem"] {
      font-size: 14px !important;
    }
  }
}