$blue500: rgb(33, 150, 243);
$transitionDuration: 1s;
$transitionDelay: 2s;

.container {
	padding-right: 60px;

	.list {
		position: absolute;
		height: 100%;
		max-width: 60px;
		overflow: hidden;
		padding: 0 !important;
		background-color: black;
		transition: max-width $transitionDuration ease-in-out;
		z-index: 5;

		.label {
			color: white;
			display: inline-block;
		}

		svg path {
			fill: white;
		}

		&:hover {
			max-width: 200px;
			transition-delay: $transitionDelay; // delay for transition start
		}
	}
}

.link:hover,
.link:global(.active) {
	.label {
		color: $blue500;
	}

	svg path {
		fill: $blue500;
	}
}
