@import "../../theme/variables";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.connection {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 40px; // prevent squeeze when .evalations has lots of elements

  .logoutButton {
    margin-left: auto;
  }
}

.evaluations {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 30px;

  .row {
    font-size: 17px;
    margin: 0;
    margin-top: 5px;
  }

  .card {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

    .name {
      font-weight: bold;
    }

    .objectInspector {
      margin: 0 20px 15px;

      .name {
        font-weight: normal;
      }

      > ul {
        padding-inline-start: 0;
        margin: 0;
      }

      li[role="treeitem"] {
        font-size: 17px !important;
      }
      li > li[role='treeitem'][aria-expanded="false"] {
        display: inline-block;
      }
    }

    .cardHeader {
      > div {
        vertical-align: middle !important;
      }

      .avatar {
        background-color: transparent !important;

        svg {
          margin: 0 !important;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .cardBody {
      border-top: 1px solid #E0E0E0;
    }

    &.success {
      .cardHeader {
        span {
          color: $color-success !important;
        }

        .avatar {
          svg path {
            fill: $color-success;
          }
        }
      }
    }

    &.error {
      .cardHeader {
        span {
          color: $color-error !important;
        }

        .avatar {
          svg path {
            fill: $color-error;
          }
        }
      }
    }

    &.progress {
      .cardHeader {
        span {
          color: $color-progress !important;
        }

        .avatar {
          div, svg {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;
          }

          svg circle {
            stroke: $color-progress !important;
          }
        }
      }
    }

    &.create {
      cursor: pointer;

      span {
        color: black !important;
      }

      .avatar {
        svg path {
          fill: black;
        }
      }
    }
  }
}