@import "../../theme/variables";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.connection {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 40px; // prevent squeeze when .evalations has lots of elements

  .logoutButton {
    margin-left: auto;
  }
}

.evaluations {
  flex-grow: 1;
  overflow-y: auto;

  .row {
    font-size: 17px;
    margin: 0;
    margin-top: 5px;
  }

  .card {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

    .name {
      font-weight: bold;
    }

    .objectInspector {
      margin: 0 20px 15px;

      .name {
        font-weight: normal;
      }

      > ul {
        padding-inline-start: 0;
        margin: 0;
      }

      li[role="treeitem"] {
        font-size: 17px !important;
      }
      li > li[role='treeitem'][aria-expanded="false"] {
        display: inline-block;
      }
    }

    &.success {
      .cardHeader {
        background-color: $color-success;
      } 
    }

    &.error {
      .cardHeader {
        background-color: $color-error;

        span {
          color: white !important;
        }
      }
    }

    &.progress {
      .cardHeader {
        background-color: $color-progress;
      }
    }
  }
}