@import "../../theme/variables";
$itemHeight: 25px;

.container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  :global(.SplitPane.vertical) {
    position: static !important;
  }

  :global(.Pane.vertical.Pane2) > div {
    height: calc(100% - 27px);
  }
  :global(.rdTabWrapper) > div {
    height: calc(100% - 36px);
  }

  :global(.tree-view) {
    user-select: none;

    :global(.tree-view_item) {
      display: flex;
      align-items: center;
      height: $itemHeight;
    }
    
    .label {
      display: flex;
      align-items: center;
      height: $itemHeight;
      font-size: 14px;

      .icon {
        display: flex;
        vertical-align: center;
        margin-right: 3px;

        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }

      .name {
        cursor: default;
      }
    }

    .file {
      margin-left: 16px;
      height: $itemHeight; // needed because of position:absolute

      &.selected {
        color: white;

        .background {
          position: absolute;
          left: 0;
          width: 100%;
          height: $itemHeight;
          background-color: grey;
        }

        .label {
          position: absolute;
        }
      }
    }
  }

  :global(.rdTabTitle) {
    font-size: 12px;
  }

  :global(.rdTabAddButton) {
    display: none;
  }

  :global(.rdTabBar) {
    padding-top: 5px;
    padding-left: 0;
    background-color: rgb(23, 24, 20);
  }

  :global(.rdTabBarAfter) {
    top: 30px !important;
  }

  .tabContent {
    margin-top: 5px;
    height: 100%;
  }

  .bottomBar {
    text-align: right;
    padding: 0 7px;
    padding-right: 10px;
    background: black;
    color: lightgrey;
    font-size: 12px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .iconButton {
      cursor: pointer;
      margin-right: 5px;

      svg {
        path {
          fill: white;
        }

        &:hover {
          path {
            fill: $blue500;
          }
        }
      }

      &.active {
        svg {
          path {
            fill: $blue500;
          }
        }
      }
    }

    span {
      margin-left: auto;
    }
  }
}
